<div class="padding-top-bottom image" [style.background-image]="'url(' + customImageUrl + ')'" >
  <div class="p-grid nested-grid">

    <div class="p-col-5">
      <div class="custom-flex-grid">
        <div class="twenty-percent-container"
             [ngsReveal]="{duration: 3500, reset: false, viewOffset: { bottom: 200 } }"
             *ngFor="let project of projects; let i = index">
          <app-project-summary *ngIf="i % 2 == 1"
                               [project]="projects[i]"
                               [textAlignment]="'right'"
          ></app-project-summary>
        </div>
      </div>
    </div>

    <div class="p-col-2">
      <div *ngFor="let project of projects; let i = index">
        <div class="absolute-vertical-center">
          <span class="dot"></span>
        </div>
        <div class="vertical-central-line"
             [ngsReveal]="{ duration: 500, reset: false, viewOffset: { bottom: 100 } }"
             *ngIf="projects.length != i + 1" >
        </div>
      </div>
      <div class="line-end-space"></div>
    </div>

    <div class="p-col-5">
      <div class="custom-flex-grid">
        <div class="twenty-percent-container"
             *ngFor="let project of projects; let i = index"
             [ngsReveal]="{duration: 3500, reset: false, viewOffset: { bottom: 200 } }" >
          <app-project-summary *ngIf="i % 2 == 0"
                               [project]="projects[i]"
                               [textAlignment]="'left'"
          ></app-project-summary>
        </div>
      </div>
    </div>
  </div>
</div>

