footer {
    background-color: #434242;
    padding: 40px 180px;
    text-align: center;
    color: white;
}

.test {
    padding: 20px;
    color: #B4B3B3;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    white-space:nowrap;
  }

.spantest {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    font-size:48px; 
    color: #B4B3B3
  }
  
  .test:hover {
    color: white;
  }
  