<footer>
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <p>Contact</p>
    </div>
    <div class="p-col">"I am not a product of my circumstances. I am a product of my decisions." — Stephen Covey</div>
    <div class="p-col">
      <div class="p-grid">
        <div class="p-col">
          <div class="test" (click)="test()">
            <span>
              <fa-icon class="icon " [icon]="['fab', 'linkedin']"></fa-icon>
            </span>
            <span class="spantest">  https://www.linkedin.com/in/simon-schmalz/</span>
          
          </div>
        </div>
        <div class="p-col">
          <a href="www.facebook.com/yourpage">Facebook</a>
        </div>
      </div>
    </div>
  </div>
</footer>