footer {
  background-color: #434242;
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.test {
  color: #fff345;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}



