.line {
  width: 0.5em;
  height: 0em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-top: -0.5em;
  border-radius: 0.5em;
}

.circle {
  width: 1.5em;
  height: 1.5em;
  background: white;
  border-radius: 50%
}
