<ng-container  @parent>
  <div fxLayout
       fxLayoutAlign="left center"
       fxLayoutGap="0.5em"
       class="fixed"
       [@greenState]="greenState">
    <div>
      <div class="logo"></div>
    </div>
    <div fxLayout fxFlex fxLayoutAlign="center center">
      <div *ngFor="let item of items">
        <a mat-button class="highlight" (click)="moveTo(item.id)">{{item.i18nKey | translate}}</a>
      </div>

    </div>
    <div fxLayoutAlign="right center" class="user-profile-container">
      <app-translation-bar></app-translation-bar>
    </div>

  </div>
</ng-container>



