<div class="p-grid nested-grid p-justify-center">

   <span>
          <p-button (click)="toggle()" label="submit"></p-button>
          </span>

  <div class="p-col-8">
    <div class="p-grid">
      <div class="p-col-6">
        <p>Java</p>
        <p>Angular</p>
        <p>SAFe</p>
        <p>Spring</p>
        <p>iSAQB</p>
        <p>Intellij</p>
      </div>
      <div class="p-col-6 p-justify-start">
        <div class="box" [@JavaExpandAnimation]="isOpen ? 'expanded' : 'normal'"></div>
        <div class="box" [@JavaExpandAnimation2]="isOpen ? 'expanded' : 'normal'"></div>
        <div class="box" [@JavaExpandAnimation3]="isOpen ? 'expanded' : 'normal'"></div>
        <div class="box" [@JavaExpandAnimation4]="isOpen ? 'expanded' : 'normal'"></div>
        <div class="box" [@JavaExpandAnimation5]="isOpen ? 'expanded' : 'normal'"></div>
        <div class="box" [@JavaExpandAnimation6]="isOpen ? 'expanded' : 'normal'"></div>
      </div>
    </div>
  </div>
</div>

