.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
  color: rgba(255, 255, 255, 0.8);
}

.bg {
  background-image: url("../../../assets/img/Professional-resized.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grey {
  background:rgba(1,1,1,0.5);
  height: 100%;
}

.test {
  background: #1BA195;
  width: 60%;
  height: 10%;
  align-self: start;
  display: inline-block;
  padding: 1em;
}
