<div fxLayout="row" fxFlex="100" fxLayoutAlign="center stretch">
  <div fxLayout="column" fxFlex="40" [@inOutAnimation]="state">
    <h3 class="yearText" [ngStyle]="{'text-align': 'right'}" >{{project.year}}</h3>
    <div class="roleText" [ngStyle]="{'text-align': 'right'}">{{project.role}}</div>
  </div>
  <div fxFlex="10" fxLayoutAlign="space-evenly stretch">
    <app-line id="lineId" [id]="lineId"></app-line>
  </div>
  <app-project-summary  [project]="project" [textAlignment]="'left'" [lineId]="lineId" fxFlex="40"></app-project-summary>
</div>
