p {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  color: white;
}

.landing-wrapper {
  height: 5%;
}


.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}
