
<!--The content below is only a placeholder and can be replaced.-->
<div fxLayout="column" (window:resize)="onResize()">

  <app-header></app-header>

  <div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
    <app-home class="section" [customImageUrl]="home" ></app-home>
    <app-experiences-overview class="section"></app-experiences-overview>
    <app-projects-overview class="section"></app-projects-overview>
    <app-certificates-overview class="section"></app-certificates-overview>
    <app-contact class="section"></app-contact>

  </div>
  <app-footer class="section"></app-footer>
  <router-outlet></router-outlet>
</div>
