<div class="padding-top-bottom">
  <div class="p-grid p-justify-center">
    <div class="p-col-8">
      <div style="text-align: center">
        <span class="image"></span><img src="../../assets/img/avatar.png" height=250 />
      </div>
      <p-card header="">
        I am a designer and art director currently living in Stuttgart, Germany. Half German half Italian, I like to bring the best of both worlds into my design which is known for its sophisticated simplicity and thoughtful details. In 2012 I founded my own creative studio to specialize in branding, web and print design and to work with ambitious business owners from all over the globe. I am passionate about helping my clients bringing their brands to life and telling their stories visually. My intention is to capture a brand's personality by developing comprehensive and compelling brand identities and designs.
      </p-card>
    </div>
  </div>
</div>
