<div class="p-grid">
  <div class="p-col">
    <p-card header="">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error
      repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
      perferendis esse,
      cupiditate neque quas! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error
      repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
      perferendis esse,
      cupiditate neque quas!
    </p-card>
    <span class="helper"></span><img src="../../assets/img/avatar.png" height=250 />
  </div>
  <div class="p-col">

  </div>
  <div class="p-col">
    <p-card header="Details">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error
        repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam
        perferendis esse,
        cupiditate neque quas!</div>
    </p-card>
  </div>
</div>
