<div class="p-grid nested-grid p-justify-center padding-top">
  <div class="p-col-1">
    <div class="test" (click)='goToLink("https://www.linkedin.com/in/simon-schmalz-336333102/")'>
      <span>
         <fa-icon size="2x" [icon]="faLinkedIn"></fa-icon>
      </span>
    </div>
  </div>
  <div class="p-col-1">
    <div class="test" (click)='goToLink("https://www.xing.com/profile/Simon_Schmalz")'>
      <span>
         <fa-icon size="2x"[icon]="faXing"></fa-icon>
      </span>
    </div>
  </div>
</div>
