/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

html, body {
  height: 100%;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
}

.p-grid {
  margin-right: 0em;
  margin-left: 0em;
}

.padding-top-bottom {
  padding-top: 8em;
  padding-bottom: 8em;
}
